.container {
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  max-height: 600px;
  width: 90vw;
  gap: 20px;
  transition: scroll-left 0.3s ease-in-out;
  overflow-y: hidden;
  align-items: flex-start;
  cursor: grab;
  padding-bottom: 15px;
}

.container::-webkit-scrollbar {
  height: 6px;
  background: #e8e8e8;
}

.review-box::-webkit-scrollbar {
  width: 0;  /* Make it invisible */
}

.container::-webkit-scrollbar-thumb {
  background: #3d3d3d;
  border-radius: 2px;
}

/* For Firefox */
.container {
  scrollbar-color: #3d3d3d #ccc;
  scrollbar-width: thin;
}

.review-box {
  scrollbar-width: none; /* Make it invisible */
}


.review-box {
  flex: 0 0 auto;
  width: 500px;
  scroll-snap-align: start;
  box-sizing: border-box;
  color: black;
  background-color: #e8e8e8;
  border-radius: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: auto;
  padding: 10px 20px;
  max-height: calc(600px - 20px);
  position: relative;
}

.review-box p {
  font-size: 0.9em;
  font-style: italic;
}



@media screen and (max-width: 768px) {
  .review-box {
    width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
