.container-wrapper {
  position: relative;
  overflow: hidden;
  max-height: 400px;
  width: 90%;
  margin: 50px auto;
}

.container-wrapper::before,
.container-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  pointer-events: none;
  z-index: 1;
}

.container-wrapper::before {
  left: 0;
  background: linear-gradient(to right, var(--main-bg-color), rgba(255, 255, 255, 0));
}

.container-wrapper::after {
  right: 0;
  background: linear-gradient(to left, var(--main-bg-color), rgba(255, 255, 255, 0));
}

.container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  max-height: 600px;
  width: 90%;
  gap: 20px;
  transition: scroll-left 0.3s ease-in-out;
  overflow-y: hidden;
  align-items: flex-start;
  cursor: grab;
  padding-bottom: 15px;
  position: relative;
}

.container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.container {
  scrollbar-width: none;
  -ms-overflow-style: none;  /* IE and Edge */
}

.review-box::-webkit-scrollbar {
  width: 0;  /* Make it invisible */
}

.review-box {
  scrollbar-width: none; /* Make it invisible */
}


.review-box {
  flex: 0 0 auto;
  width: 500px;
  scroll-snap-align: start;
  box-sizing: border-box;
  color: black;
  background-color: #e8e8e8;
  border-radius: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: auto;
  padding: 10px 20px;
  max-height: calc(400px - 20px);
  position: relative;
}

.review-box p {
  font-size: 0.9em;
  font-style: italic;
}



@media screen and (max-width: 768px) {
  .review-box {
    width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
