.imagesContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
  gap: 10px;
}

.singleImage {
  transition: all 0.4s ease;
  max-height: 300px;
  border-radius: 20px;
}

.singleImage:hover {
  transform: scale(1.1);
}

.load-more {
  display: block;
  margin: 20px auto;
  width: 250px;
}

@media screen and (max-width: 768px) {
  .imagesContainer {
    grid-template-columns: 1fr;
  }
}