@media screen and (max-width: 768px) {
  .sticky-footer {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    bottom: 0;
    font-size: 0.8em;
    height: 50px;
    z-index: 10;
  }
  
  .sticky-footer .btn1 {
    background-color: var(--main-bg-color);
    color: white;
  }
  
  .sticky-footer button {
    border-radius: 0;
  }
}