@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes colorShift {
  0% {
    background-color: var(--accent-orange);
  }
  50% {
    background-color: var(--main-bg-color);
  }
  100% {
    background-color: var(--accent-orange);
  }
}

@keyframes rotateAndScale {
  0%, 100% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.1) rotate(15deg);
  }
}