.container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  transition: scroll-left 0.3s ease;
  max-height: 500px;
}

.review-box {
  flex: 0 0 auto;
  width: 300px;
  scroll-snap-align: start;
}

.dots {
  display: flex;
  justify-content: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: grey;
  margin: 5px;
}
