.destinations-div {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-self: center;
  color: #4b5e5b;
}

.destinations-div h1 {
  color: black;
}

.destinations-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.destinations-options > * {
  background-color: #f8f8f8;
  width: 50px;
}