.destinations-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  justify-self: center;
  color: #4b5e5b;
  height: max-content;
}

.destinations-div h1 {
  color: black;
}

.destinations-options {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.destinations-options > * {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  width: 160px;
  height: 45px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.destinations-options > *:hover {
  background-color: #719e8b;
  color: white;
}

.activeTab {
  background-color: #4b5e5b;
  color: white;
}

.activeTab:hover {
  background-color: #4b5e5b;
  color: white;
  cursor: default;
}

.Destination-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.Destination-info img {
  width: 500px;
  height: 500px;
}

.Destination-info h1 {
  font-size: 1.9em;
  margin-bottom: 10px;
}

.Destination-info p {
  font-size: 1.2em;
}

