:root {
  --main-bg-color: #016774;
  --main-text-color: #dcd3d3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}