.header {
  position: fixed;
  top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  padding: 40px;
  z-index: 1000;
}

.headerLogo {
  width: 100px;
  height: auto;
}

.navbar {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar p {
  margin: 0;
}

button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex: 0;
    position: fixed;
    left: -300px;
    top: 100px;
    bottom: 0;
    width: 300px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    transition: left 0.3s ease-in-out;
  }

  .navbar.open {
    left: 0;
  }

  .hamburger, .inquire {
    display: block;
  }

  .inquire {
    display: none;
  }
}