.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  z-index: 1000;
}

.headerLogo {
  width: 200px;
  height: auto;
}

.navbar {
  display: flex;
  font-size: 1.1em;
  color: white;
  justify-content: space-around;
  align-items: center;
  column-gap: 20px;
}

button {
  background-color: var(--accent-orange);
  border: none;
  font-size: 1.15em;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.hamburger {
  display: none;
}

.close-button {
  font-size: 1.1em;
  background: none;
  border: none;
  color: white;
  background-color: var(--accent-orange);
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .close-button {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    width: 100vw;
    padding: 40px;
    font-size: 1.3em;
    flex-direction: column;
    background-color: var(--accent-orange);
    transition: right 0.3s ease-in-out;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 20px;
  }

  .navbar.open {
    right: 0;
  }

  .hamburger, .inquire {
    display: block;
  }

  .inquire {
    display: none;
  }
}

/* Media query for very large screens */
@media screen and (min-width: 1440px) {
  .navbar {
    font-size: 1.5em;
  }

  button {
    font-size: 1.5em;
  }
}
