.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 100px;
  max-width: 1200px;
  text-align: center;
  color: var(--main-text-color);
}