.pageContainer {
  margin: 10px;
  display: flex;
  background-color: red;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  text-align: center;
  color: var(--main-text-color);
}