.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 120px;
  max-width: 1450px;
  text-align: center;
  color: var(--main-text-color);
}

.cta-div {
  height: 100vh;
  display: flex;
  background-image: url('../assets/dead-sea.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
}


.content h1 {
  color: white;
}

h1 {
  color: var(--main-title-color);
}

.info-block {
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .pageContainer {
    padding: 20px 10px;
  }
}