.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 120px;
  max-width: 1100px;
  text-align: center;
  color: var(--main-text-color);
}

.cta-div {
  height: 100vh;
}

h1 {
  color: var(--main-title-color);
}

.info-block {
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .pageContainer {
    padding: 20px 10px;
  }
}