.tripCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  max-width: 300px;
  border: 1px solid black;
}

.tripCard:hover h2,
.tripCard:hover p {
  text-shadow: 2px 2px 4px #000000;
}

.tripIcon {
  width: 120px;
  height: 120px;
}